  body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

   body {
      font-family: Arial, sans-serif; 
      background-color: #f5f5f5; 
      display: flex;
      flex-direction: column;
      min-height: 100%;
      justify-content: center; 
      align-items: center; 
      height: 0vh; 
      margin: 15;
      background-image: url("");
      background-size: cover;
      background-repeat: no-repeat;
      
    }
    .container {
      width: 100%;
      margin: auto;
      padding: 20px;
      flex: 1;
    }
    .custom-welcome-msg {
      position: relative;
      background-color: #3498db;
      color: white;
      padding: 20px;
      border-radius: 10px;
      text-align: center;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      margin-top: 10px;
      font-family: Arial, sans-serif;
      font-size: 32px;
    }

    .running-message {
      margin-top: 10px;
      padding: 10px;
      background-color: yellow;
      border-radius: 5px;
      overflow: hidden;
    }

    .running-text {
      color: red;
      white-space: nowrap;
      animation: marquee 20s linear infinite;
      font-size: 16px; /* Make the running message text smaller */
    }

    @keyframes marquee {
      0% { transform: translateX(100%); }
      100% { transform: translateX(-100%); }
    }

 .topButtonContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 20px;
}

#topNormalButtonSection {
  display: flex;
  gap: 15px;
}

.iconbutton-container {
  display: flex;
  align-items: center;
  gap: 25px;
  margin-left: auto; /* Push iconbutton-container to the left */
}

.iconbutton {
  background-color: transparent;
  border: none;
  border-radius: 4px;
  padding: 18px;
  font-size: 24px;
  cursor: pointer;
  transition: transform 300ms;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.iconbutton:hover {
  transform: scale(1.9);
}

#refreshButton {
  background-image: url('img/refresh-button.png');
}

#backtoHomePageButton {
  background-image: url('img/home-button.png');
}

#backtoLoginPageButton {
  background-image: url('img/logout-button.png');
}

  .signout {
      position: absolute;
      top: 20%;
      right: 10px;
      transform: translateY(-50%);
      background-color: #e74c3c;
      color: white;
      border: none;
      border-radius: 5px;
      padding: 8px 15px;
      font-size: 16px;
      cursor: pointer;
    }
    
    .items-input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 10px;
   // border: 2px solid #6e81ea;
    border-radius: 10px;
    background-color: #f5f5f5;
  }
    
  .customer-details {
    display: none;
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 5px;
    background-color: #f7f7f7;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px;
    width: 500px;
    height: 300px; 
  }

  .customer-details button:hover {
    background-color: #0056b3;
  }
  .billSummaryTitle {
    font-size: 24px;
    font-weight: bold;
    color: #0077b6;
    text-align: left;
   // text-decoration: underline;
  }
  .billInfo {
     margin-bottom: 10px;
     font-size: 16px !important;
     font-weight: bold;
  }
   .amountInfo {
    font-size: 16px;
    text-align: left;
    background-color: #f7f7f7;
    padding-top: 5px;
    padding-bottom: 5px;
   // border: 1px solid #ccc;
  //  padding: 20px;
 //   border-radius: 5px;   
    font-weight: bold;
  }

  .amountInfo p {
    margin: 10px 0;
  }

  .amountInfo span {
    font-weight: bold;
    color: #0077b6;
  }
  
    table {
      border-collapse: collapse;
      width: 100%;
      border: 1px solid #ddd;
    }
    th, td {
      text-align: left;
      padding: 8px;
    }
    th {
      background-color: #f2f2f2;
    }
  
  .print-preview-button,
  .save-bill-button,
  .add-advance-button,
  .remove-item-button,
  .calculate-total-button,
  .print-button,
  .print-pdf-button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 14px;
    margin-right: 10px;
  }
  .print-preview-button:hover,
  .save-bill-button:hover,
  .add-advance-button:hover,
  .remove-item-button:hover,
  .calculate-total-button:hover,
  .print-button:hover,
  .print-pdf-button:hover {
    background-color: #0056b3;
  }
  
  button {
      padding: 10px 20px;
      background-color: #007bff;
      color: #fff;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      font-weight: bold;
    }

    select {
      padding: 10px 20px;
      background-color: #f5f5f5;
      color: #333;
      border: 1px solid #ccc;
      border-radius: 4px;
      cursor: pointer;
      font-weight: bold;
    }

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9999;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 80%;
  max-height: 80%;
  overflow-y: auto;
}

.close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 24px;
  cursor: pointer;
}
    .print-header {
      text-align: center;
      margin-bottom: 20px;
    }

    .print-header h2 {
      margin: 0;
      font-size: 28px;
      color: #3498db;
    }

    .print-header p {
      margin: 0;
      font-size: 18px;
      color: #555;
    }
    .print-footer {
     font-style: italic;
      text-align: center;
     }
     .session-name {
    text-align: Right;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 14px;
    margin-right: 150px;
    font-weight: bold;
  }

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loading-spinner {
  border: 4px solid rgba(255, 255, 255, 0.3); /* Lighter border */
  border-top: 4px solid #ffffff; /* White border on top */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.paid-seal-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none; 
    opacity: 0.15;
    z-index: 0; 
  }

.required {
    color: red;
    margin-left: 2px;
}

#error-input {
    border: 2px solid red;
}

 .customer-details {
      flex: 1;
      border: 2px solid #4CAF50;
      padding: 2rem;
      border-radius: 10px;
      background-color: #EAF5E7;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
      margin-right: 2rem;
    }
    
     .customer-details h3 {
      font-size: 20px;
      margin-bottom: 20px;
      color: #4CAF50; 
    }

    .input-group {
      position: relative;
      margin-bottom: 20px; 
    }

    .items-input-group {
      position: relative;
      margin-bottom: 20px;
      margin: 0 10px; 
      background-color: #f5f5f5;
    }
    .input-group_input {
      font: inherit;
      color: #000;
      padding: 12px;
      border: none;
      border-radius: 4px;
      outline: 2px solid #4CAF50;
      background-color: transparent;
      transition: outline-color 500ms;
    }

    .input-group_input:focus {
      outline-color: #3c50eb;
    }

    .input-group_label {
      position: absolute;
      top: 50%;
      left: 10px;
      transform: translateY(-50%);
      color: #4CAF50;
      background-color: #EAF5E7;
      padding: 0 5px;
      transition: transform 500ms, font-size 500ms;
    }
    
    .input-group_input:focus + .input-group_label,
    .input-group_input:valid + .input-group_label {  
      top: 0%;
      transform: translate(-5px, -50%) scale(0.8);
      font-size: 12px;
    }
        
    .input-group_label_top {
      position: absolute;
      top: -15px;
      left: 10px;
      color: #4CAF50;
      background-color: #EAF5E7;
      padding: 0 5px;
    }
    
     .submit-button {
      background-color: #4CAF50;
      color: #fff;
      border: none;
      border-radius: 4px;
      padding: 10px 20px;
      font-size: 16px;
      cursor: pointer;
      transition: background-color 300ms;
    }

    .submit-button:hover {
      background-color: #45a049;
    }
    
    .add-item-button {
      background-color: #4CAF50;
      color: #fff;
      border: none;
      border-radius: 4px;
      padding: 10px 20px;
      font-size: 16px;
      cursor: pointer;
      transition: background-color 300ms;
    }
    
    .add-item-button:hover,
    {
      background-color: #45a049;
    }
    .suggestion-container {
      position: absolute;
      z-index: 1;
      width: 100%;
      background-color: white;
    }

    .suggestion {
      cursor: pointer;
      padding: 5px;
    }

    .suggestion:hover {
      background-color: #ccc;
    }
    
   .footer {
      background-color: #4CAF50;
      color: #fff;
      padding: 20px;
      text-align: center;
      flex-shrink: 0;
    }

    .footer p {
      margin: 0;
      font-size: 18px;
    }
    
  @page {
            size: 800mm 600mm;
            margin: 0;
        }

        @media print {
            body {
                font-family: monospace; 
                font-size: 12px;
            }

            h1 {
                font-size: 16px;
            }

            h2 {
                font-size: 14px; 
                margin-top: 10px;
            }

            table {
                width: 100%; 
                border-collapse: collapse;
                margin-top: 10px;
            }

            th, td {
                border: 1px solid #000; 
                padding: 5px; 
            }
            
            button {
                display: none; 
            }
            body * {
              //  visibility: hidden;
            }

            .modal-content {
                visibility: visible;
            }
            
            /* We can Add more print-specific styles here */
        }
 .profile-box {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
  }
  .profile-img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    margin-right: 10px;
  }
  .profile-name {
    font-weight: bold;
  }
  .logout-dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    display: none;
    width: 120px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    transition: opacity 0.3s;
    opacity: 0;
    z-index: 1000; 
  }
  .profile-box:hover .logout-dropdown {
    display: block;
    opacity: 1;
  }
  .logout-btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #f44336;
    color: white;
    border: none;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  .logout-btn:hover {
    background-color: #d32f2f;
  }