    body {
      font-family: Arial, sans-serif;
    }
    .container {
      width: 100%;
      margin: auto;
      padding: 20px;
    }
    
  .customer-details {
    display: none;
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 5px;
    background-color: #f7f7f7;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px;
  }

  .customer-details h3 {
    margin-bottom: 10px;
    font-size: 18px;
    color: #333;
  }

  .customer-details label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
  }

  .customer-details input {
    width: 30%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 14px;
    color: #333;
  }

  .customer-details button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 8px 15px;
    cursor: pointer;
    font-size: 14px;
  }

  .customer-details button:hover {
    background-color: #0056b3;
  }

    .bill-details {
       width: 100%;
       margin: auto;
       padding: 20px;
    }
    .bill-details select {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .bill-details p {
    margin: 10px 0;
  }
    .item-details {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    background-color: #f7f7f7;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px;
  }

    table {
      border-collapse: collapse;
      width: 100%;
      border: 1px solid #ddd;
    }
    th, td {
      text-align: left;
      padding: 8px;
    }
    th {
      background-color: #f2f2f2;
    }
    .total {
      font-weight: bold;
    }
    
  .add-advance-button,
  .remove-item-button,
  .calculate-total-button,
  .print-button,
  .print-pdf-button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 14px;
    margin-right: 10px;
  }

  .add-advance-button:hover,
  .remove-item-button:hover,
  .calculate-total-button:hover,
  .print-button:hover,
  .print-pdf-button:hover {
    background-color: #0056b3;
  }

  .address {
    text-align: center;
    margin: 20px auto;
  }

  .address img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
    border: 4px solid #007BFF;
  }

  .address h2 {
    font-size: 28px;
    margin: 10px 0;
    color: #333;
  }

  .address p {
    font-size: 16px;
    margin: 5px 0;
    color: #777;
  }
